body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: linear-gradient(to top, #0e0e0e,  rgb(36, 36, 36));
}

.forms-section {
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
}

.top-border {
	height: auto;
	width: auto;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: row;
	align-items: center;
	background-color: #161616;
}

.emblem img{
	width: 70px;
	height: 50px;
}

.top-border .section-title{
	height: auto;
	width: auto;
    margin: auto;
	font-size: 32px;
	letter-spacing: 2px;
	color: rgb(184, 233, 233);
 }

.top-border .a{
	width: 70px;
	height: 70px;
    margin-left: 95%;
    margin-top: 0%;
 }

.top-border .exit img{
    height: 70px;
    width: 70px;
}

.charts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	width: auto;
	align-items: center;
	height:auto;
}

.stats{
	display: grid;
    grid-template-columns: 1fr 1fr;
	width: auto;
	align-items: center;
	height:auto;
}

.stats .selector{
    display: block;
	margin: auto;
}

.stats .selector2{
	margin: auto;
	display: grid;
	grid-template-rows: 1fr 1fr ;
	vertical-align: top;
	overflow: hidden;
	
}

.stats label{
	color: #E9CF72;
	margin: auto;
}

.selector select{
    background-color: #0f0f0f;
    border: #E9CF72 ;
    color: rgb(184, 233, 233);
    border-radius: 25px;
    width: 170px;
}

.stats .selector2 select{
    background-color: #0f0f0f;
    border: #E9CF72 ;
	color: rgb(184, 233, 233);
	border-radius: 15px;
	width: 280px;
	height: 100%;
	padding: 4px;
  	margin: 5px -20px -5px -5px;
}

.forms-section input[type='button']{

	color: rgb(184, 233, 233);
	background: #292929;
	box-shadow: inset 0 0 0 2px #E9CF72;
	display: block;
	margin: auto;
	width: 120px;
	margin-top: 15px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	opacity: 1;
	transform: translateX(0);
	cursor: pointer;

}
