body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: linear-gradient(to top, #0e0e0e,  rgb(36, 36, 36));
}

.forms-section {
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.top-border {
	height: auto;
	width: auto;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: row;
	align-items: center;
	background-color: #161616;
}

.emblem img{
	width: 70px;
	height: 50px;
}

.top-border .section-title{
	height: auto;
	width: auto;
    margin: auto;
	font-size: 32px;
	letter-spacing: 2px;
	color: rgb(184, 233, 233);
 }

.top-border .a{
	width: 70px;
	height: 70px;
    margin-left: 95%;
    margin-top: 0%;
 }

.top-border .exit img{
    height: 70px;
    width: 70px;
}

.upload-file{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
}

.wrapper{
  
	width: auto;
	height: auto;
	display: block;
	margin: auto;
	align-items: center;
	justify-content: space-between;
	
}	

.wrapper input[type='button']{
  
	color: #a7e245;
	background: #292929;
	box-shadow: inset 0 0 0 2px #a7e245;
	display: block;
	margin: auto;
	width: 80px;
	margin-top: 5px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	opacity: 1;
	transform: translateX(0);
	cursor: pointer;

} 
  
.file-upload{

	height:100px;
	width:100px;
	margin-top: 50px;
	border-radius: 100px;
	position:relative;
	
	display:flex;
	justify-content:center;
	align-items: center;  

	border:4px solid  rgb(184, 233, 233);
	overflow:hidden;
	background-image: linear-gradient(to bottom, #161616 50%,  rgb(184, 233, 233) 50%);
	background-size: 100% 200%;
	transition: all 1s;
	color:  rgb(184, 233, 233);
	font-size:70px;
}

.file-upload input[type='file']{

	height:100px;
	width:100px;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	cursor:pointer;

}
  
.file-upload:hover{
  
	background-position: 0 -100%;
	color:#161616;
  
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {

	display: block;
	background-color: #111111;
	margin: auto;
	padding: 20px;
	border: 1px solid rgb(184, 233, 233);
	width: 45%;
	align-items: center;
  }

  .modal-content label{
	
	margin-left: 25%;
	font-size: larger;
	letter-spacing: 2px;
	color: rgb(184, 233, 233);

  }

.modal-btns{
	display: flex;
}

.modal-btns a{
	margin: auto;
}

.modal-btns input[type='button']{

	color: #a7e245;
	background: #292929;
	box-shadow: inset 0 0 0 2px #a7e245;
	display: block;
	margin: auto;
	width: 120px;
	margin-top: 15px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	opacity: 1;
	transform: translateX(0);
	cursor: pointer;

}